/* Resetando margens e paddings */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Definindo o tema cinza claro */
  body {
    background-color: #f2f2f2; /* Cor de fundo cinza claro */
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte */
  }
  
  /* Estilizando o cabeçalho (header) */
  header {
    width: 100%;
    height: 25vh; /* Definindo a altura do cabeçalho como 25% da tela */
    overflow: hidden; /* Esconde qualquer conteúdo extra no cabeçalho */
  }
  
  /* Estilizando a imagem do cabeçalho para ocupar toda a largura */
  header img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra todo o espaço */
  }
  
  /* Estilos para as seções de informações */
  main {
    padding: 20px;
  }
  
  section {
    background-color: #4c4c4c; /* Fundo branco para as seções */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  