body {
    background-color: #CCCCCC; /* Cor cinza */
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  header img {
    width: 100%; /* Ajusta a imagem para ocupar toda a largura do cabeçalho */
  }
  
  h1 {
    margin-top: 20px; /* Margem superior para o título */
  }
  
  main {
    text-align: center;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px; /* Espaçamento entre as seções */
  }
  
  footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF; /* Cor do rodapé */
  }